* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #120038 20%, #2a35b0 80%);
}

.carousel-inner > img{
    width: 800px!important;
    height: 500px;
}

#header{
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px #FF0000;
    margin-bottom: 20px;
}

.carousel{
    position: relative;
}

.autoPlay{
    position: absolute;
    z-index: 1;
    display: flex;
    bottom: 20px;
    right: 30px;
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.autoPlay > .fa-play{
    padding-left: 2px;
    color: green;
}

.fa-stop-circle{
    color: red;
}
